body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  font-style: italic;
  color: #6c757d;
  font-family: "Pacifico", cursive;
}

.location {
  font-size: 1rem;
  color: #007bff;
}

.logo {
  max-width: 150px;
  height: auto;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  font-weight: normal;
  color: #6c757d;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 1rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-custom {
  background-color: #a61d69 !important; 
  color: white;
  border-radius: 50px; 
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}